{% extends "layouts/layouts.html" %}

{% block title %}

    {{title}}

{% endblock title %}

{% block content %}
<h1>{{title}}</h1>
<p>
    "Ser una institución de educación superior reconocida a nivel nacional e internacional por su excelencia académica, innovación tecnológica, y liderazgo en la formación de profesionales altamente capacitados que impacten positivamente en la transformación digital, económica y social, impulsando el progreso sustentable y la equidad."
</p>

{% endblock content %}