{% extends "layouts/layouts.html" %}

{% block title %}

    {{title}}

{% endblock title %}

{% block content %}
<h1>{{title}}</h1>
<h2>{{content}}</h2>
<p>
    "Formar profesionistas competentes, éticos y emprendedores mediante la educación superior de calidad en áreas tecnológicas, científicas y humanísticas, que respondan a las demandas del mercado laboral y contribuyan al desarrollo sustentable de la sociedad. Promovemos el aprendizaje innovador, la investigación aplicada y el compromiso social como elementos fundamentales para el crecimiento integral de nuestros estudiantes."  
</p>

{% endblock content %}